fastapi==0.110.2
pydantic==2.7.1
uvicorn==0.15.0
aiofiles==23.2.1
PyJWT==2.8.0
pydantic[email]==2.7.1
SQLAlchemy==2.0.29
psycopg2-binary==2.9.5
fastapi-pagination==0.11.3
requests==2.31.0
resend==0.8.0
passlib==1.7.4
bcrypt==3.2.0
python-dotenv==1.0.1
